[user]
    name = Hayden Curfman
	email = hlc1@williams.edu

[core]
    editor = nvim
    excludesFile = /Users/hayden/.gitignore

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
